.App {
  text-align: center;
}

.table{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
table,th,td{
  border: 1px solid black;
}

#email{
  position: relative;
  left: 50px;
}
.action{
position: relative;
left: 140px;
}
img,video{
  height: 100px;
  width: 100px;
}
label{
  margin: 10px;
  width: 100px;
}
.public{
  position: relative;
  left: 50px;
}
.pic{
  position: relative;
  left: 170px;
}